{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static', filename='channel.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
<h1 id="channelTitle">Channel {{ title }}</h1>
<div id="chatMessages">
  <div id="chat-window">
    {% for message in chatRooms %}
      <div class="alert alert-info">{{ message.displayName }}: {{ message.message }}</div>
    {% endfor %}
  </div>
    <input type="text" id="chatBoxInput" placeholder="write a message" class="form-control">
    <button id="chatBoxBtn" class="form-control">Send</button>
</div>
{% endblock %}