{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block title %}
  DK's Chat App
{% endblock %}

{% block body %}
  <h1>Welcome to DK's Chat App</h1>
  {% if chat %}
  <h2>Join a channel!</h2>
  <ul id="chatRooms" class="list-group">
    {% for key, value in chat.items() %}
      <a href="{{ url_for('channel', room=key) }}"><li class="list-group-item" data-room="{{ key }}">{{ key }}</li></a>
    {% endfor %}
  </ul>
  {% endif %}
  <h2>Create a channel!</h2>
  <form id="channelForm" method="post" action="{{ url_for('createChannel') }}" class="form-group">
      <input type="text" id="channelInput" name="channelInput" placeholder="channel name" class="form-control">
  </form>
{% endblock %}